/* Modal and Authentication Actions Listener */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  color: gray;
  text-align: center;
}

main {
  height: 100vh;
}

h1 {
  margin: 0px 0px 20px 0px;
  font-size: 24px;
  font-family: cursive;
}

button {
  background: #316fea;
}

img {
  width: 100%;
}

.auth {
  cursor: pointer;
}

#header {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #888888;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items div,
.nav-items button,
.nav-items span {
  margin-left: 20px;
  margin-right: 20px;
  color: black;
}

/* .header-buttons-grid {
  display: grid;
  grid-gap: 40px;
  margin-top: 10px;
} */

#footer {
  display: none;
  background-color: #f9f4f4;
  /* padding: 30px 20px 50px 20px; */
}

@media (min-width: 100px) {
  /* #header {
    grid-template-columns: 1fr;
  }

  .header-buttons-grid {
    grid-template-columns: 1fr;
  } */

  #footer {
    grid-template-columns: 1fr;
  }

  #hero-banner-desktop {
    display: none;
  }

  #hero-banner-tablet {
    display: none;
  }

  #hero-banner-phone {
    display: block;
  }
}

@media (min-width: 740px) {
  /* #header {
    grid-template-columns: 2fr 0fr 2fr;
  }

  .header-buttons-grid {
    grid-template-columns: 1fr 1fr;
  } */

  #footer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #hero-banner-desktop {
    display: none;
  }

  #hero-banner-tablet {
    display: block;
  }

  #hero-banner-phone {
    display: none;
  }
}

@media (min-width: 1020px) {
  #header {
    grid-template-columns: 1fr 2fr 1fr;
  }

  #hero-banner-desktop {
    display: block;
  }

  #hero-banner-tablet {
    display: none;
  }

  #hero-banner-phone {
    display: none;
  }
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#article-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
  background-color: #fefefe;
  margin: 4% auto;
  border: 1px solid #888888;
  max-width: 350px;
}

#close {
  width: 34px;
  font-size: 22px;
  border-radius: 100px;
  padding: 4px;
  float: right;
  background-color: #b2dffb;
  box-shadow: 0 4px #93b8cf;
  margin: -13px -13px 0px 0px;
}

#close:hover {
  box-shadow: 0 2px #93b8cf;
}

#close:active {
  box-shadow: 0 0 #93b8cf;
}

#authentication {
  padding: 40px 20px 20px 20px;
}

button {
  color: #fff;
  width: 100%;
  text-align: center;
  border: 0px;
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
  font-size: 16px;
  outline: 0;
  cursor: pointer;
}

#create-user-button,
#sign-in-button {
  max-width: 200px;
  margin: 30px 0px 30px 0px;
}

.purple-button {
  background-color: #c2b0c9;
  box-shadow: 0 4px #9f90a5;
}

.purple-button:hover {
  box-shadow: 0 2px #9f90a5;
}

.purple-button:active {
  box-shadow: 0 0 #9f90a5;
}

.blue-button {
  background-color: #b2dffb;
  box-shadow: 0 4px #93b8cf;
}

.blue-button:hover {
  box-shadow: 0 2px #93b8cf;
}

.blue-button:active {
  box-shadow: 0 0 #93b8cf;
}

.other-button {
  background-color: #cccccc;
  box-shadow: 0 4px #afaeae;
}

.other-button:hover {
  box-shadow: 0 2px #afaeae;
}

.other-button:active {
  box-shadow: 0 0 #afaeae;
}

/**** FORMs ****/
input {
  width: 100%;
  font-size: 20px;
  padding: 10px 0px 10px 0px;
  border-width: 0px 0px 2px 0px;
}

input::placeholder {
  color: #989898;
}

input:focus {
  border-color: green;
  outline: none;
}

#sign-in-link,
#create-user-link {
  color: #32a1d7;
}

#create-user-inputs,
#sign-in-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 30px;
}

#create-user-display-name {
  grid-column-end: span 2;
}

#forgot-password-inputs {
  margin-bottom: 20px;
}

#forgot-password-link {
  text-align: right;
  font-size: 10px;
  margin-top: -17px;
}

#user-details-header {
  text-align: right;
}

/* padding for have or need accout dialog */
#have-or-need-account-dialog {
  padding-top: 10px;
}

#account {
  background-color: #f9f4f4;
  padding: 30px;
  border-radius: 20px;
}

#dashboard {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px; */
  padding: 20px 40px 50px 40px;
}

#profile-photo-account {
  display: block;
  max-width: 150px;
  margin: auto;
  border-radius: 100px;
}

#display-name {
  margin: 30px 20px;
  float: right;
}

#message {
  display: none;
  border: 1px solid;
  position: relative;
  margin: 40px 20px 20px 20px;
  padding: 10px;
}

/**** Important class used througout the course ****/
.hide {
  display: none;
}

.photoURL {
  /* display: flex; */
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background-color: black;
}

.latest-posts {
  max-width: 600px;
  margin: 0 auto;
}

.add-post-form {
  display: none;
  max-width: 600px;
  margin: 0 auto 20px;
}

form#create-post-form input {
  margin-bottom: 20px;
}

form#create-post-form button {
  margin-top: 30px;
}

article {
  background: #f0f0f0;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  text-decoration: none;
}

article p:first-child {
  margin-bottom: 5px;
  font-size: 13px;
}

article h1 {
  margin-bottom: 5px;
}